.search{
    &-title{
        font-size: clamp(.8rem, 5vw, 2rem);
    }

    &-form{
        width: 50%;
        @include flexSetting(center, center);
    }

    &-input{
        @include flexSetting(flex-start, center);
        width: 100%;
        // flex: 1;
        &-value, &-ic{
            z-index: 1;
        }

        &-value{
            flex: 1;
            font-size: clamp(.5rem, 3.5vw, 1.3rem);
            border-radius: 25px 0 0 25px;
            height: 40px;
            padding: .5rem 1rem;
            border: none;
            outline: none;
        }

        &-ic{
            width: 40px;
            height: 20px;
            padding: 10px 0;
            box-sizing: unset;
            cursor: pointer;

            &:hover{
                filter: brightness(.8);
            }
        }
    }
    &-dropdown{
        min-width: clamp(100px, 17vw, 160px);
        height: 40px;
        & .dropdown-title{            
            padding: .5rem 0 0.5rem 1rem;
            color: $secondary-color;
            border-radius: 0 25px 25px 0;
            height: 40px;
            background-color: rgba(0, 0, 0, 0.35);
        }

        &.active .dropdown-title{
            border-radius: 0 25px 0 0;
        }

        & .dropdown-lists{
            background-color: rgba(0, 0, 0, 0.35);
            color: $secondary-color;
            border-color: $secondary-color;
            width: clamp(100px, 17vw, 160px);
            border-radius: 0 0 25px 0;
            overflow: hidden;
            & > .dropdown-list{
                padding: .5rem 0 .5rem 1rem;
            }
        }
    }
}

@media (max-width: 970px){
    .search{
        &-form{
            width: 80%;
        }
    }
}

// @media (max-width: 590px){
//     .search{
//         &-input{
//             width: 80%;
//         }

//         &-input-value{
//             // flex: unset;

//         }
//     }
// }