.dropdown{
    position: relative;
    user-select: none;
    z-index: 5;

    &-title{
        @include flexSetting(space-between, center);
        font-size: 1.3rem;
    }
    &-ic{
        margin-right: 1rem;
    }
    &-lists{
        border-top: 1px solid $primary-color;
        position: absolute;
        top: 100%;
        left: 0;
        font-size: 1.3em;
        z-index: 5;
        animation: scaleIn .2s ease;

        & > .dropdown-list{
            cursor: pointer;
            &:hover{
                background-color: $dark-accent;
                color: $secondary-color;
            }
        }

    }
    &-selected{
        background-color: $dark-accent;
        color: white;
        font-weight: bold;
    }
}

@keyframes scaleIn {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        transform: scale(1.01);
        opacity: 0.7;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}