@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
/* colors */
$primary-color: #080614;
$secondary-color: #FFFDFD;
$dark-accent: #3647DE;
$light-accent: #41EAD4;
$img-background: #45454e;
$danger: rgb(138, 16, 16);
/* fonts */
$heading-font: 'Raleway', sans-serif;

/* size */
$header-height: 100px;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $primary-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $light-accent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $dark-accent;
}

*, *::after, *::before {
  margin: 0;
  box-sizing: border-box;
}

body,html{
  height: 100vh;
  background-color: $primary-color;
  font-family: $heading-font;
}

a{
  text-decoration: none;
}

.no-result{
  margin: 1rem 0;
  width: 100%;
  color: $secondary-color;
  text-align: center;
}

.clear-filter{
  background-color: $danger;
  color: $secondary-color;
  padding: .5rem 1rem;
  margin: 0 1rem;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
  &.disabled{
    cursor:not-allowed;
  }
}

@mixin flexSetting($justify, $align, $isColumn: false) {
  display: flex;
  
  @if $isColumn {
    flex-direction: column;
  }

  justify-content: $justify;
  align-items: $align;
}

.none{
  display: none !important;
}