$primary-color: #080614;
$secondary-color: #FFFDFD;
$dark-accent: #3647DE;
$light-accent: #41EAD4;
$img-background: #1C1C20;

/* size */
$header-height: 100px;

*, *::after, *::before {
  margin: 0;
  box-sizing: border-box;
}

body,html{
  height: 100vh;
  background-color: $primary-color;
}

a{
  text-decoration: none;
}

@mixin flexSetting($justify, $align, $isColumn: false) {
  display: flex;
  
  @if $isColumn {
    flex-direction: column;
  }

  justify-content: $justify;
  align-items: $align;
}

.none{
  display: none !important;
}