.header{
    padding: 1rem 2rem;
    @include flexSetting(space-between, center);
    color: $secondary-color;
    position: relative;

    &-title{
        cursor: pointer;
        font-size: clamp(.8rem, 5vw, 2rem);
        letter-spacing: 4px;
    }

    &-nav {
        @include flexSetting(flex-start, center);
    }

    & .menu-ic{
        width: 24px;
        height: 24px;
        fill: $light-accent;
        cursor: pointer;
    }

    &-link{
        @include flexSetting(flex-start, center);
        color: $secondary-color;
        margin: 0 1rem;
        font-size: clamp(.8rem, 4vw, 1.4rem);
        cursor: pointer;
        position: relative;

        &-ic{
            margin-right: .5rem;
            color: $light-accent;
        }

        &:hover{
            color: $light-accent;
        }

        &::after{
            content: '';
            display: none;
            width: 100%;
            height: 2px;
            background-color: $light-accent;
            position: absolute;
            bottom: 0;
            left: 0;
            animation: drawLine .5s ease;
        }

        &:hover:after{
            display: initial;
        }
    }
}

.responsive-nav{
    & .header-nav{
        position: absolute;
        background-color: $primary-color;
        top: 100%;
        right: 0;
        flex-direction: column;
        & > *{
            padding: .5rem 0;
        }
        z-index: 10;
    }
}

.letter-color{
    color: $light-accent
}

@keyframes drawLine {
    0%{
        left: 50%;
        width: 0;
    }
    100%{
        left: 0;
        width: 100%;
    }
}