.home-photos{
    @include flexSetting(flex-start, flex-start, true);
    padding: 1.4rem;

    &-dropdown, & .dropdown-lists{
        width: 150px;
        background-color: $secondary-color;
    }
    &-dropdown{
        align-self: flex-end;
        border-radius: 10px 10px 0 0;
    }
    & .dropdown-title{
        padding: .2rem 0 .2rem 1rem;
    }
    & .dropdown-lists{
        border-radius: 0 0 10px 10px;
        overflow: hidden;
    }
    & .dropdown-list{
        padding: .5rem;
    }
}

.image-containers{
    @include flexSetting(space-evenly, flex-start);
    width: 100%;
    margin: 1.4rem 0;
    gap: 0 1rem;
    flex: 1;

    & .image-container{
        @include flexSetting(flex-start, flex-start, true);
        gap: 1.4rem 0;

        & > img{
            display: block;
        }
    }

    & .image-4x{
        width: 430px;
    }

    & .image-3x{
        width: clamp(400px, 30vw, 500px);
    }

    & .image-2x{
        width: clamp(400px, 45vw, 570px);
    }
    & .image-1x{
        width: 90%;
        margin: 0 auto;
    }

}