.home-photos{
    @include flexSetting(flex-start, flex-start, true);
    padding: 1.4rem;

    &-dropdown, & .dropdown-lists{
        width: 150px;
        background-color: $secondary-color;
    }
    &-dropdown{
        align-self: flex-end;
        border-radius: 10px 10px 0 0;
    }
    & .dropdown-title{
        padding: .2rem 0 .2rem 1rem;
    }
    & .dropdown-lists{
        border-radius: 0 0 10px 10px;
        overflow: hidden;
    }
    & .dropdown-list{
        padding: .5rem;
    }
}

.image-containers{
    @include flexSetting(space-evenly, flex-start);
    width: 100%;
    min-height: 50vh;
    margin: 1.4rem 0;
    gap: 0 1rem;
    flex: 1;

    & .image-container{
        @include flexSetting(flex-start, flex-start, true);
        gap: 1.4rem 0;

        & .image{
            display: block;
            position: relative;
            overflow: hidden;

            & img{
                background-color: $img-background;

            }

            &-author, &-metadata{
                @include flexSetting(space-between, center);
                width: 100%;
                padding: .4rem .1rem .1rem .1rem;
                position: absolute;
                left: 0;
                background-color: rgba(0, 0, 0, 0.5);
            }

            &-author{
                top: -100%;
                &--name{
                    font-size: 1.2rem;
                    color: $secondary-color;
                }
                &--pic{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: $img-background;
                    color: $secondary-color;
                }
            }

            &-metadata{
                bottom: -100%;
                color: $secondary-color;
                & > *{
                    @include flexSetting(center, center);
                    padding: .1rem .1rem .4rem .1rem;
                }

                &--ic{
                    width: 40px;
                    height: 20px;
                }

                &--views-ic{
                    color: violet;
                }
                &--likes-ic{
                    color: red;
                }
                &--downloads-ic{
                    color: yellow;
                }
                &--comments-ic{
                    color: pink;
                }
            }

            &:hover .image-author{
                top: 0;
                animation: flyFromTop .2s ease;
            }
            &:hover .image-metadata{
                bottom: 0;
                animation: flyFromBottom .2s ease;
            }
        }
    }

    @keyframes flyFromTop {
        0%{
            top: -100%;
        }
        100%{
            top: 0;
        }
    }
    @keyframes flyFromBottom {
        0%{
            bottom: -100%;
        }
        100%{
            bottom: 0;
        }
    }

    & .image-4x{
        width: 430px;
    }

    & .image-3x{
        width: clamp(400px, 30vw, 500px);
    }

    & .image-2x{
        width: clamp(400px, 45vw, 570px);
    }
    & .image-1x{
        width: 90%;
        margin: 0 auto;
    }

}