.gallery{
    @include flexSetting(flex-start, flex-start, true);
    padding: 1.4rem;

    &-dropdown, &-dropdown .dropdown-lists{
        width: 150px;
        background-color: $secondary-color;
    }
    &-dropdown{
        align-self: flex-end;
        border-radius: 10px 10px 0 0;
    }
    &-dropdown .dropdown-title{
        padding: .2rem 0 .2rem .5rem;
    }
    &-dropdown .dropdown-lists{
        border-radius: 0 0 10px 10px;
        overflow: hidden;
    }
    &-dropdown .dropdown-list{
        padding: .5rem;
    }
}

.search-form .dropdown-selected-ic{
    fill: $secondary-color;
    margin: 0 .2rem;
}

.search-form .dropdown{
    z-index: 6;
}

.media-containers{
    @include flexSetting(space-evenly, flex-start);
    width: 100%;
    min-height: 50vh;
    margin: 1.4rem 0;
    gap: 0 1rem;
    flex: 1;
}

.views-ic, .likes-ic, .downloads-ic, .comments-ic{
    width: 40px;
    height: 20px;
}

.views-ic{
    color: violet;
}
.likes-ic{
    color: red;
}
.downloads-ic{
    color: yellow;
}
.comments-ic{
    color: pink;
}

@keyframes flyFromTop {
    0%{
        top: -100%;
    }
    100%{
        top: 0;
    }
}
@keyframes flyFromBottom {
    0%{
        bottom: -100%;
    }
    100%{
        bottom: 0;
    }
}