.main-video{
    &--download{
        @include flexSetting(center, center);
    }
    & .dropdown.active{
        border-radius: 20px 20px 0 0;
    }
    & .dropdown{
        background-color: $secondary-color;
        color: $primary-color;
        margin: 0 1rem;
        width: 250px;
        border-radius: 20px;
        &-title{
            padding: .5rem;
        }
        &-lists{
            width: 250px;
            border-radius: 0 0 20px 20px;
            background-color: $secondary-color;
            & > * {
                padding: .5rem;
            }
        }
    }
}